notes.md
2 quick/CVE-2020-1472
2 quick/zerologon
.gitignore
launch.json
prep.sh
.vscode
1 nocreds/nmap_kerb_
1 nocreds/PetitPotam
3 nopass/sprayhound
.gitignore
1 nocreds/PetitPotam
3 nopass/spray/sprayhound
